<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coretree.defaultconfig.mapper.SmsMapper">

    <resultMap id="smsMap" type="com.coretree.defaultconfig.mapper.Sms">
        <id     property="idx"    		column="idx" />
        <result property="custs_idx"	column="custs_idx" />
        <result property="custs_tel"   	column="custs_tel" />
        <result property="contents"     column="contents" />
        <result property="result"     	column="result" />
        <result property="regdate"      column="regdate" />
        <result property="sdate"      column="sdate" />
        <result property="edate"      column="edate" />
    </resultMap>
    
    <select id="count" resultType="java.lang.Long">
    	select count(idx) from sms where 1=1
		<if test="sdate == null and edate == null">
			and cast(regdate as date)=cast(current_timestamp as date)
		</if>
		<if test="sdate != null and edate != null">
			and regdate between cast(#{sdate} as timestamp) and cast(#{edate} as timestamp)
		</if>
    </select>
    
    <select id="getAll" resultMap="smsMap">
    	select first #{rowsperpage} skip ((#{curpage} - 1) * #{rowsperpage})
			idx, custs_idx, custs_tel, contents, result, regdate
			from sms
			where 1=1
			<if test="sdate == null or edate == null">
				and cast(regdate as date)=cast(current_timestamp as date)
			</if>
			<if test="sdate != null and edate != null">
				and regdate between cast(#{sdate} as timestamp) and cast(#{edate} as timestamp)
			</if>
			order by regdate desc
    </select>
    
<!--     <select id="getByIdx" resultMap="smsMap">
    	select idx, custs_idx, custs_tel, contents, result, regdate
			from sms
			where idx=#{idx}
    </select> -->
    
    <select id="getByTxt" resultMap="smsMap">
    	select idx, custs_idx, custs_tel, contents, result, regdate
			from sms
			where cust_tel like #{txt}
			order by regdate desc
    </select>
    
    <select id="del">
		delete from sms where idx=#{idx}
    </select>

    <select id="delAll" parameterType="java.util.List">
		delete from sms where
		<foreach collection="list" item="item" separator=",">
			 idx=#{item.idx}
		</foreach>
    </select>
    
    <insert id="add" useGeneratedKeys="true" keyProperty="idx">
		insert into sms (custs_tel, contents) values (#{custs_tel}, #{contents})
    </insert>
    
    <update id="modi">
    	update sms set result=#{result} where idx=
		insert into sms (custs_tel, contents) values (#{custs_tel}, #{contents})
    </update>
</mapper>
