.modal-header, h4, .close {
    background-color: #3175AF;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.foradmin { visibility: hidden; }

.grid {
	width: 100%;
	height: 700px;
}
.grid_teller_status {
	width: 100%;
	height: 180px;
}
.grid_tels {
	width: 100%;
	height: 633px;
}
.grid_teller_status .ui-grid-contents-wrapper,
.grid_tels .ui-grid-contents-wrapper,
.grid .ui-grid-contents-wrapper {
		height: 35px !important;
}

.ui-grid-row:hover .ui-grid-cell{background: #D9E2F3;};

// .white { color: white; background-color:black !important; text-align: center; }
.white {
 	text-align: center;
 }
.grid-cell { text-align: center; }
.grid-cell-align { text-align: center; padding-top: 3px; }

.subgroup {
	padding-left: 20px;
}
.alert {
	text-align: center;
	font-size: 17px;
}
.header-filtered {
	color: blue;
}

#page-wrapper {
	width: 100%;
	padding: 75px 30px 50px 30px;
}

@media (min-width:768px) {
	#page-wrapper {
		padding: 75px 30px 50px 30px;
	}
	
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-nav .navbar-right:last-child {
		margin-right: -15px;
	}
	.navbar-left {
		float: left !important;
	}
	.navbar-right {
		float: right !important;
	}
}