					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlcustomers"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<input type='text' id='txtsearch' class='form-control' placeholder="전화번호 휴대전화" />
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btnsearch">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;">삭제</button>
					</div>
<script>
	$("#btnsearch").click(function(){
    	var scope = angular.element($("#ctrlcustomers")).scope();
	    scope.$apply(function () {
	        scope.getPage($("#txtsearch").val().trim());
	    });
	});
</script>