					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlcustomers"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<input type='text' id='txtsearch' class='form-control' placeholder="전화번호 / 휴대전화" />
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btnSearch">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;" id="btnDel">삭제</button>
						<button type="button" class="btn btn-primary btn-sm" style="float: right; margin-right: 10px;" id="btnAdd">등록</button>
					</div>

<script>
	$("#btnSearch").click(function(){
    	var scope = angular.element($("#ctrlcustomers")).scope();
	    scope.$apply(function () {
	        scope.getPage($("#txtsearch").val().trim());
	    });
	});
	
	$("#btnAdd").click(function(){
		custbhv = bhv.add;
		$("#addCustomer .modal-title").html("고객 등록");
		ClearForm();
		
		$('#addCustomer').modal({backdrop: false});
	});
	
	$("#btnDel").click(function(){
    	var scope = angular.element($("#ctrlcustomers")).scope();
	    scope.$apply(function () {
	    	var seledtedItems = scope.gridOptions.selectedItems;

			$.post("/customer/del/all", seledtedItems, function(response){
		    	var scope = angular.element($("#ctrlcustomers")).scope();
			    scope.$apply(function () {
			        scope.getPage('');
			    });
			});
	    });
	});
</script>
