					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlcalls"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<div class='input-group date' id='datetimepicker1' style="width: 145px;">
						    <input type='text' class="form-control" id="sdate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						 -
						<div class='input-group date' id='datetimepicker2' style="width: 145px;">
						    <input type='text' class="form-control" id="edate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						<input type='text' id='txtcallsearch' class='form-control' placeholder="전화번호 / 휴대전화" style="margin-left: 10px; max-width: 11em;" />
						<button type='button' for='txtcallsearch' class="btn btn-info btn-sm" id="btnCallSearch">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;" id="btnCallDel">삭제</button>
					</div>
<script>
	$(document).ready(function(){
		$("#btnCallSearch").click(function(){
	    	var scope = angular.element($("#ctrlcalls")).scope();
		    scope.$apply(function () {
		    	var searchcondition = {
		    		idx: 0,
		    		sdate: $("#datetimepicker1").val(),
		    		edate: $("#datetimepicker2").val(),
	    			txt: $("#txtcallsearch").val()
		    	}
		        scope.getPage(searchcondition);
		    });
		});
		
		$("#btnCallDel").click(function(){
			
		});
		
	    $('#datetimepicker1').datetimepicker({
	    	locale: 'ko',
	    	//format: 'YYYY-MM-DD HH:mm:ss'
	    	format: 'YYYY-MM-DD'
	    });
	    $('#datetimepicker2').datetimepicker({
	    	locale: 'ko',
	    	//format: 'YYYY-MM-DD HH:mm:ss',
	    	format: 'YYYY-MM-DD',
	    	useCurrent: false
	    });
	    $("#datetimepicker1").on("dp.change", function (e) {
	        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
	    });
	    $("#datetimepicker2").on("dp.change", function (e) {
	        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
	    });
	});
</script>