					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlcalls"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<div class='input-group date' id='datetimepicker1' style="width: 145px;">
						    <input type='text' class="form-control" id="txtsdate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						 -
						<div class='input-group date' id='datetimepicker2' style="width: 145px;">
						    <input type='text' class="form-control" id="txtedate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						<input type='text' id='txtcallsearch' class='form-control' placeholder="전화번호 / 휴대전화" style="margin-left: 10px; max-width: 11em;" />
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btnCallSearch">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;" id="btnCallDel">삭제</button>
					</div>
