					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlrecords"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<input ui-date ui-date-format="yyyy-MM-DD" id="sdate" /> - <input ui-date ui-date-format="yyyy-MM-DD" id="edate" />
						<input type='text' id='txtsearch' class='form-control' placeholder="전화번호 / 휴대전화"/>
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btnSearch">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;" id="btnDel">삭제</button>
					</div>
