					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlextensions"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<input type='text' id='txtsearch' class='form-control' placeholder="전화번호 / 휴대전화" />
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btn_Search">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;" id="btn_Del">삭제</button>
						<button type="button" class="btn btn-primary btn-sm" style="float: right; margin-right: 10px;" id="btn_Add">등록</button>
					</div>
