		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Coretree</a>
			    <button type="button" class="navbar-toggle" id="menu-toggle">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav navbar-right">
			    	<li class="dropdown" id="currentstatus">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span> 대기중</a>
                        <ul class="dropdown-menu">
                        	<li class="dropdown-header">현재상태 설정</li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-plus-sign"></span> 대기중</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-ok-sign"></span> 통화중</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-minus-sign"></span> 자리비움</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-remove-sign"></span> 수신거부</a></li>
                        </ul>
                    </li>
			    	<li class="dropdown" id="systeminfo">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 시스템 정상 (8001)</a>
                        <ul class="dropdown-menu">
                        	<li class="dropdown-header">시스템 정보</li>
                            <li class="divider"></li>
                            <li><a href="#"> 디스크용량 : 565GB</a></li>
                            <li><a href="#"> 금일 통화 : 476건</a></li>
                            <li><a href="#"> 주간 통화 : 2223건</a></li>
                            <li><a href="#"> 전체 통화  : 5655789건</a></li>
                        </ul>
		        	</li>
			    	<li class="dropdown">
						<a href="#" id="logout"> 로그아웃</a>
		        	</li>
			    </ul>
			</div>
		</nav>
		
		<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a ui-sref="addr">주소록</a>
                </li>
                <li>
                	<ul style="list-style: none; margin: 0; padding-left: 15px;">
                		<li>
                			<a href="#collapse1" data-toggle="collapse" id="publicaddr">공용 주소록 </a>
                		</li>
                		<li id="collapse1" class="panel-collapse collapse">
                			<ul style="list-style: none; margin: 0; padding-left: 25px;">
                				<li><a href="addr00">협력업체</a></li>
                				<li><a href="addr01">거래처</a></li>
                				<li><a href="addr02">고객</a></li>
                			</ul>
                		</li>
            		<li>
                			<a href="#collapse2" data-toggle="collapse" id="personaladdr">개인 주소록</a>
                		</li>
                		<li id="collapse2" class="panel-collapse collapse">
                			<ul style="list-style: none; margin: 0; padding-left: 25px;">
                				<li><a href="addr10">협력업체</a></li>
                				<li><a href="addr11">거래처</a></li>
                				<li><a href="addr12">고객</a></li>
                			</ul>
                		</li>
                	</ul>
                </li>
                <li>
                    <a ui-sref="calls">통화내역</a>
                </li>
                <li>
                    <a href="smses">SMS내역</a>
                </li>
                <li style="display: none;" class="ADMIN">
                    <a href="records">녹취내역</a>
                </li>
                <li style="display: none;" class="ADMIN">
                    <a href="counsellorcalls">상담원통화내역</a>
                </li>
                <li style="display: none;" class="ADMIN">
                    <a href="counsellors">상담원관리</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-9" style="margin-bottom: 50px;">
                    <div class="alert alert-dismissable alert-info">
                        <!-- <button data-dismiss="alert" class="close" type="button">&times;</button> -->
                        Welcome to the CRM for ThinkBox Cloud.
                        <br />
                        You can see a information of Telephony in this box.
                    </div>
					<div ui-view="maincontent"></div>
	        	</div>
		        <div class="col-lg-3">
		        	<div ng-controller="CtrlCallStatus" id="ctrlcallstat">
		        		<div ui-grid="gridOptions" class="grid_teller_status"></div>
		        		<!-- <button type="button" class="btn btn-primary btn-sm" id='scopetest'>테스트</button> -->
		        	</div>
					<div ng-controller="CtrlTelStatus" style="margin-top: 15px;">
						<div ui-grid="gridOptions" class="grid_tels" context-menu="menuOptions"></div>
					</div>
					<button type="button" class="btn btn-primary btn-sm" id='btn_connect'>Connect</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_disconnect'>Disconnect</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_makecall'>MakeCall</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_dropcall'>DropCall</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_holdcall'>HoldCall</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_activecall'>ActiveCall</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_transfer'>Transfer</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_pickup'>PickUp</button>
					<button type="button" class="btn btn-primary btn-sm" id='btn_reqextstatus'>Requset Extension Status</button>
		        </div>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
			    $("#btn_connect").click(function(){
			    	connect();
			    });
				
			    $("#btn_disconnect").click(function(){
					disconnect();
			    });
			    
			    $("#btn_makecall").click(function(){
			    	// makecall
			        var trade = {
			                'cmd' : 74,
			                'extension' : '3001',
			                'caller' : '',
			                'peer' : '01045455962',
			                'unconditional' : '',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    $("#btn_dropcall").click(function(){
			    	// pickup
			        var trade = {
			                'cmd' : 76,
			                'extension' : '',
			                'caller' : '3001',
			                'peer' : '3002',
			                'unconditional' : '',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    $("#btn_holdcall").click(function(){
			    	// pickup
			        var trade = {
			                'cmd' : 82,
			                'extension' : '3001',
			                'caller' : '3001',
			                'peer' : '3002',
			                'unconditional' : '',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    $("#btn_activecall").click(function(){
			    	// pickup
			        var trade = {
			                'cmd' : 84,
			                'extension' : '3001',
			                'caller' : '3001',
			                'peer' : '01045455962',
			                'unconditional' : '',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    $("#btn_transfer").click(function(){
			    	// transfer
			        var trade = {
			                'cmd' : 86,
			                'extension' : '3001',
			                'caller' : '3001',
			                'peer' : '01045455962',
			                'unconditional' : '3002',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    $("#btn_pickup").click(function(){
			    	// pickup
			        var trade = {
			                'cmd' : 80,
			                'extension' : '3001',
			                'caller' : '',
			                'peer' : '3002',
			                'unconditional' : '',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    $("#btn_reqextstatus").click(function(){
			    	// Requset Extension Status
			        var trade = {
			                'cmd' : 64,
			                'extension' : '3001',
			                'caller' : '3001',
			                'peer' : '3002',
			                'unconditional' : '',
			                'status': -1
			              };
			        
			     	stompClient.send("/app/traders", {}, JSON.stringify(trade));
			        console.log("socktest sock sent");
			    });
			    
			    if (ROLE === "ADMIN") {
			    	$(".ADMIN").css("display", "inline");
			    }
			    
			    $("#logout").click(function(){
			    	disconnect();
			    	location.href = "/logout.html";
			    });
			    
			    // connect();
			});
		</script>