					<div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" id="ctrlcalls"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<div class='input-group date' id='datetimepicker1'>
						    <input type='text' class="form-control" id="sdate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						 -
						<div class='input-group date' id='datetimepicker2'>
						    <input type='text' class="form-control" id="edate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						<input type='text' id='txtsearch' class='form-control' placeholder="전화번호 / 휴대전화" style="margin-left: 10px; max-width: 11em;" />
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btnSearch">검색</button>
						<button type="button" class="btn btn-warning btn-sm" style="float: right;" id="btnDel">삭제</button>
					</div>
					
<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">통화 정보</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning fade in" style="display: none;" id="alert">
		  			<strong>Warning!</strong> This alert box could indicate a warning that might need attention.
				</div>
        		<div class="row">
					<div class="form-group col-sm-6" ng-controller="CtrlGroups">
						<input type="hidden" id="idx">
				    	<label class="control-label" for="depthorder">그룹</label>
				    	<select class="form-control" ng-model="modeloption" id="depthorder" ng-options="option.depthorder as option.txt for option in options">
				    		<option value="">:: 그룹선택 ::</option>
				    	</select>
				  	</div>
			  	</div>
			  	<div class="row">
					<div class="form-group col-sm-6">
				    	<label for="uname">이름</label>
				    	<input type="text" class="form-control" id="uname" placeholder="이름">
				  	</div>
				  	<div class="form-group col-sm-6">
				    	<label for="company">회사</label>
				    	<input type="text" class="form-control" id="company" placeholder="회사">
				  	</div>
			  	</div>
			  	<div class="row">
				  	<div class="form-group col-sm-6">
				    	<label for="tel">전화</label>
				    	<input type="text" class="form-control" id="tel" placeholder="전화">
				  	</div>
				  	<div class="form-group col-sm-6">
				    	<label for="cellular">휴대전화</label>
				    	<input type="text" class="form-control" id="cellular" placeholder="휴대전화">
				  	</div>
			  	</div>
			  	<div class="row">
				  	<div class="form-group col-sm-6">
				    	<label for="extension">내선</label>
				    	<input type="text" class="form-control" id="extension" placeholder="내선">
			    	</div>
			    	<div class="form-group col-sm-6">
				    	<label for="posi">직급</label>
				    	<input type=text class="form-control" id="posi" placeholder="직급">
				  	</div>
			  	</div>
			  	<div class="row">
				  	<div class="form-group col-sm-8">
				    	<label for="email">이메일</label>
				    	<input type="text" class="form-control" id="email" placeholder="이메일">
			    	</div>
			  	</div>
      		</div>
      		<div class="modal-footer">
        		<!-- <button type="button" class="btn btn-primary" id="btnSave">저장</button>  -->
        		<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      		</div>
    	</div>
  	</div>
</div>
  
<script>
	$("#btnSearch").click(function(){
    	var scope = angular.element($("#ctrlcalls")).scope();
	    scope.$apply(function () {
	        scope.getPage($("#txtsearch").val().trim());
	    });
	});
	
	$("#btnAdd").click(function(){
		custbhv = bhv.add;
		$("#Modal .modal-title").html("고객 등록");
		ClearForm();
		
		$('#Modal').modal("show");
	});
	
	$("#btnDel").click(function(){
    	var scope = angular.element($("#ctrlcalls")).scope();
	    scope.$apply(function () {
	    	var seledtedItems = scope.gridOptions.selectedItems;

			$.post("/call/del/all", seledtedItems, function(response){
				
		    	var scope = angular.element($("#ctrlcalls")).scope();
			    scope.$apply(function () {
			        scope.getPage('');
			    });
			});
	    });
	});
	
	$("#btnSave").click(function(){
		SaveCust();
	});
	
	function SaveCust() {
		var obj = {
				idx: $("#idx").val(),
				depthorder: $("#depthorder").val() == "" ? $("#depthorder").val() : $("#depthorder").val().replace("string:", ""),
				username: crmidentity.username,
				uname: $("#uname").val(),
				company: $("#company").val(),
				posi: $("#posi").val(),
				tel: $("#tel").val(),
				cellular: $("#cellular").val(),
				extension: $("#extension").val(),
				email: $("#email").val()
		};
			
		if (obj.depthorder == "") {
			$("#alert").html("<strong>필수입력</strong> 그룹을 선택하세요.").css('display', 'block');
			$("#depthorder").focus();
			return;
		}
		if (obj.uname == "") {
			$("#alert").html("<strong>필수입력</strong> 이름을 입력하세요.").css('display', 'block');
			$("#uname").focus();
			return;
		}
		if (!(obj.tel != "" || obj.cellular != "")) {
			$("#alert").html("<strong>필수입력</strong> 전화번호와 휴대전화 하나는 입력해야합니다.").css('display', 'block');
			if (obj.tel == "") {
				$("#tel").focus();
				return;
			}
			if (obj.cellular == "") {
				$("#cellular").focus();
				return;
			}
		}
		
		var url;
		
		if (custbhv == bhv.add) {
			url = "/customer/add/";
		} else if (custbhv == bhv.modi) {
			url = "/customer/modi/";
		}
		
		$.post(url, obj, function(response){
			$('#Modal').modal("hide");
			ClearForm();
			
	    	var scope = angular.element($("#ctrlcalls")).scope();
		    scope.$apply(function () {
		        scope.getPage('');
		    });
			
			custbhv = bhv.none;
		});
	}
	
	function ClearForm() {
		$("#idx").val('-1');
		group.length == 2 ? $("#depthorder").val('string:' + group) : $("#depthorder option:eq(0)").prop("selected", true);
		$("#uname").val('');
		$("#company").val('');
		$("#posi").val('');
		$("#tel").val('');
		$("#cellular").val('');
		$("#extension").val('');
		$("#email").val('');
	}
</script>
<script>
	$(document).ready(function(){
	    $('#datetimepicker1').datetimepicker({
	    	locale: 'ko',
	    	format: 'YYYY-MM-DD HH:mm:ss'
	    });
	    $('#datetimepicker2').datetimepicker({
	    	locale: 'ko',
	    	format: 'YYYY-MM-DD HH:mm:ss',
	    	useCurrent: false
	    });
	    $("#datetimepicker1").on("dp.change", function (e) {
	        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
	    });
	    $("#datetimepicker2").on("dp.change", function (e) {
	        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
	    });
	});
</script>
