					<div>
						<div ui-grid="gridOptions" class="grid" id="ctrlstatistics02"></div>
					</div>
					<div class="form-group form-inline" style='margin-top: 10px;'>
						<div class='input-group date' id='datetimepicker1' style="width: 198px;">
						    <input type='text' class="form-control" id="sdate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						 -
						<div class='input-group date' id='datetimepicker2' style="width: 198px;">
						    <input type='text' class="form-control" id="edate" />
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
						    </span>
						</div>
						<input type='text' id='txtsearch' class='form-control' placeholder="상담원 아이디" style="margin-left: 10px; max-width: 11em;" />
						<button type='button' for='txtsearch' class="btn btn-info btn-sm" id="btnSearch">검색</button>
					</div>
<script>
	$(document).ready(function(){
		var newdate = new Date();
		var firstdate = new Date(newdate.getFullYear(), newdate.getMonth(), 1);
		
	    $('#datetimepicker1').datetimepicker({
	    	locale: 'ko',
	    	format: 'YYYY-MM-DD',
	    	defaultDate: firstdate
	    });
	    $('#datetimepicker2').datetimepicker({
	    	locale: 'ko',
	    	format: 'YYYY-MM-DD',
	    	defaultDate: newdate
	    });
	    $("#datetimepicker1").on("dp.change", function (e) {
	        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
	    });
	    $("#datetimepicker2").on("dp.change", function (e) {
	        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
	    });
	    
	    $("#btnSearch").click(function(){
	    	var scope = angular.element($("#ctrlstatistics02")).scope();
		    scope.$apply(function () {
		        scope.getPage();
		    });
	    });
	});
</script>
